:root {
    --color-bg-dark: #111827;
}

body {
    font-family: 'Inter', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #111a27;
}

.logo {
    display: block;
    width: 250px;
    height: 250px;
    margin: -110px auto;
}

.feed-container {
    width: 100%;
    height: 80vh;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 20px auto;
    flex-direction: column;
    text-align: center;
    color: white;
    font-family: 'Inter', sans-serif;
}

.question-card {
    position: relative;
    width: 100%;
    opacity: 1;
    transform: translateY(0);
    transition: opacity 0.5s ease, transform 0.5s ease;
}

.question-card.hidden-up {
    opacity: 0;
    transform: translateY(-100%);
}

.question-card.hidden-down {
    opacity: 0;
    transform: translateY(100%);
}

.answer-btn {
    background-color: #8b5cf6;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    display: block;
    margin: 10px auto;
}

.next-btn {
    width: 10%;
    background-color: #8b5cf6;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    display: block;
    margin: -30px auto;
    text-align: center;
    font-size: 14px;
}

.back-home {
    width: 10%;
    background-color: #8b5cf6;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    display: block;
    margin: 50px auto;
    text-align: center;
    font-size: 14px;
    text-decoration: none;
}

.navigation-menu {
    display: flex;
    justify-content: space-around;
    background-color: #1f2937;
    padding: 10px 0;
    position: fixed;
    left: 30%;
    bottom: 20px;
    border-radius: 30px;
    width: 40%;
    box-shadow: 0 -2px 10px rgba(0, 0, 0, 0.1);
}

.nav-item {
    text-decoration: none;
    color: black;
    font-weight: bold;
}

.answer-img {
    margin: 10px auto;
    max-width: 100%;
    border-radius: 10px;
    display: none;
    animation: fadeIn 0.2s ease-in-out;
}

@keyframes fadeIn {
    0% { opacity: 0; }
    100% { opacity: 1; }
}

.settings-container {
    text-align: center;
    margin-top: 20px;
    color: white;
    font-family: 'Inter', 'sans-serif';
}

.settings-container h1 {
    margin-bottom: 20px;
}

.settings-container label {
    font-size: 18px;
}

.settings-container button {
    margin-top: 10px;
    background-color: #384251;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.icons {
    height: 30px;
    width: 30px;
}

.save {
    margin-bottom: 150px;
}

.collapsible {
    background-color: #007bff;
    color: #2a2d41;
    cursor: pointer;
    padding: 10px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 18px;
    transition: background-color 0.3s ease;
    border-radius: 4px;
    margin-bottom: 10px;
}

.collapsible:hover {
    background-color: #0056b3;
}

.content {
    max-height: 0;
    overflow: hidden;
    transition: max-height 0.3s ease-out;
    background-color: #2a2d41;
    padding-left: 10px;
    border-radius: 4px;
}

.content label {
    font-size: 14px;
    display: block;
    padding: 10px;
}

.active {
    max-height: 1000px;
}

.settings-container {
    width: 90%;
    max-width: 600px;
    margin: 20px auto;
    padding: 20px;
    background-color: #1f2937;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
}

/* Checkbox Styles */
.checkbox-wrapper-4 * {
    box-sizing: border-box;
    color: white;
}

.checkbox-wrapper-4 {
    margin-bottom: 8px;
}

.checkbox-wrapper-4 .cbx {
    -webkit-user-select: none;
    user-select: none;
    cursor: pointer;
    padding: 6px 8px;
    border-radius: 6px;
    overflow: hidden;
    transition: all 0.2s ease;
    display: inline-block;
}

.checkbox-wrapper-4 .cbx:not(:last-child) {
    margin-right: 6px;
}

.checkbox-wrapper-4 .cbx:hover {
    background: rgba(0,119,255,0.06);
}

.checkbox-wrapper-4 .cbx span {
    float: left;
    vertical-align: middle;
    transform: translate3d(0, 0, 0);
}

.checkbox-wrapper-4 .cbx span:first-child {
    position: relative;
    width: 18px;
    height: 18px;
    border-radius: 4px;
    transform: scale(1);
    border: 1px solid #cccfdb;
    transition: all 0.2s ease;
    box-shadow: 0 1px 1px rgba(0,16,75,0.05);
}

.checkbox-wrapper-4 .cbx span:first-child svg {
    position: absolute;
    top: 3px;
    left: 2px;
    fill: none;
    stroke: #fff;
    stroke-width: 2;
    stroke-linecap: round;
    stroke-linejoin: round;
    stroke-dasharray: 16px;
    stroke-dashoffset: 16px;
    transition: all 0.3s ease;
    transition-delay: 0.1s;
    transform: translate3d(0, 0, 0);
}

.checkbox-wrapper-4 .cbx span:last-child {
    padding-left: 8px;
    line-height: 18px;
}

.checkbox-wrapper-4 .cbx:hover span:first-child {
    border-color: #a78bfa;
}

.checkbox-wrapper-4 .inp-cbx {
    position: absolute;
    visibility: hidden;
}

.checkbox-wrapper-4 .inp-cbx:checked + .cbx span:first-child {
    background: #d23ff5;
    border-color: #8b5cf6;
    animation: wave-4 0.4s ease;
}

.checkbox-wrapper-4 .inp-cbx:checked + .cbx span:first-child svg {
    stroke-dashoffset: 0;
}

.checkbox-wrapper-4 .inline-svg {
    position: absolute;
    width: 0;
    height: 0;
    pointer-events: none;
    user-select: none;
}

@-moz-keyframes wave-4 {
    50% {
        transform: scale(0.9);
    }
}

@-webkit-keyframes wave-4 {
    50% {
        transform: scale(0.9);
    }
}

@-o-keyframes wave-4 {
    50% {
        transform: scale(0.9);
    }
}

@keyframes wave-4 {
    50% {
        transform: scale(0.9);
    }
}

@media only screen and (max-width: 600px) {
    .next-btn {
        margin: -35px auto;
        height: 16px;
        width: 190px;
        font-size: 15px;
    }

    .back-home {
        font-size: 15px;
        width: 190px;
        height: 16px;
    }

    .feed-container {
        font-size: 15px;
    }
    .settings-container label {
        font-size: 14px;
    }
    .save {
        margin-bottom: 150px;
    }
    .icons {
        height: 20px;
        width: 20px;
    }
    .next-btn {
        margin-top: -70px;
    }

    .checkbox-wrapper-4 .cbx {
        width: 100%;
        display: inline-block;
    }
}
